{% extends "base_header.html" %}
{% load static %}
{% block links %} 
	<link rel="stylesheet" href="{% static 'styles/sign.css'%}">
{% endblock %}

{% block body %}
	<div class="container">
		<div class="flex-cont">
			<div class="col-12 col-md-8 col-lg-6 col-xl-6">
				<div class="card shadow-2-strong" style="border-radius: 1rem;">
				<div class="card-body p-5 text-center">
					<form action="sign_in_post/" method="post">
					{% csrf_token %}
					<h3 class="mb-5 register-color">Увійдіть в аккаунт</h3>
					<div class="form-outline mb-4">
					<input type="username" name="username" id="typeEmailX-2" class="form-control form-control-lg" placeholder="Username">
					<div class="form-notch"><div class="form-notch-leading" style="width: 9px;"></div><div class="form-notch-middle" style="width: 40px;"></div><div class="form-notch-trailing"></div></div></div>

					<div class="form-outline mb-4">
					<input type="password" name="password" id="typePasswordX-2" class="form-control form-control-lg" placeholder="Password">
					<div class="form-notch"><div class="form-notch-leading" style="width: 9px;"></div><div class="form-notch-middle" style="width: 64.8px;"></div><div class="form-notch-trailing"></div></div></div>

					<div class="d-flex justify-content-start mb-4">
					<label class="form-check-label" for="form1Example3">Не маєте аккаунту? <a href="/user/sign_up" class="register-color"> Зареєструйтеся</a></label>
				
					</div>

					<button class="btn btn-color btn-lg btn-block" type="submit">Увійти</button>
				</form>
				</div>
				</div>
			</div>
			<div class="book-icon">
				<img src="{% static 'img/icons/Vector.svg' %}" alt="">
			</div>
		
		</div>
	</div>

{% endblock %}